/* You can add global styles to this file, and also import other style files */
.success{
    background: linear-gradient(120deg,rgba(56,86,151,1),rgba(0,0,0,1));
}
.light{
    background:rgba(0,0,0,0.05);
}
.primary{
    border: none;
    padding:7px 25px;
    background: rgba(56,86,151,1);
}
.badge-warning{
    color: #fff;
}
.btn{
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
}
.badge{
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    padding:5px 15px;
}
.btn-success{
    background: linear-gradient(120deg,rgba(56,86,151,1),rgba(0,0,0,1));
    border: none;
    padding: 4px 20px;
    font-size: 12px;
}
.btn-success:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}